// colors
$darkRed: #550710;
$lightRed: #5507101c;
$darkGrey: #707070;
$black: #3D362C;
$white: #FFFFFF;

// fonts 
$fontFamily: 'Vollkorn', serif;

// media queries 
$mobileParagraph: 15px;
$mobileHeadings: 45px;
$mobileSubHeadings: 26px;
$mobileButtonText: 18px;

$tabletParagraph: 20px;
$tabletHeadings: 45px;
$tabletSubHeadings: 32px;
$tabletButtonText: 22px;

$desktopLinks: 23px;
$desktopSubheadings: 50px;
$desktopSubheadings02: 40px;
$desktopParagraph: 18px;
$desktopButtonText: 22px;

$desktopLargeLinks: 23px;
$desktopLargeSubheadings: 50px;
$desktopLargeParagraph: 20px;
$desktopLargeButtonText: 22px;
